@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-b.eot");
  src: url("../fonts/ubuntu/ubuntu-b.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-b.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b.woff") format("woff"), url("../fonts/ubuntu/ubuntu-b.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-b.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-medium.eot");
  src: url("../fonts/ubuntu/ubuntu-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-medium.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium.eot");
  src: url("../fonts/lifehack_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium.woff2") format("woff2"), url("../fonts/lifehack_medium.woff") format("woff"), url("../fonts/lifehack_medium.ttf") format("truetype"), url("../fonts/lifehack_medium.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.eot");
  src: url("../fonts/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin-regular.woff") format("woff"), url("../fonts/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin-regular.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  overflow-x: hidden; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 34.375rem;
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  -o-transition: transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  will-change: transform; }
  @media screen and (max-width: 768px) {
    .maincontent {
      min-height: auto; } }

.container {
  max-width: 58.75rem;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section {
  height: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.about {
  background: url("../img/about-bg-textured.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.about__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%; }

.header__logo {
  margin-right: auto; }

.logo img {
  margin-top: -0.125rem;
  margin-left: -0.5rem;
  position: relative;
  z-index: 12; }
  @media screen and (max-width: 768px) {
    .logo img {
      margin-top: 0.125rem;
      margin-left: 1.4375rem; } }
  @media screen and (max-width: 480px) {
    .logo img {
      margin-left: 1.0625rem; } }

.header__menu {
  margin-right: 1rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 13px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-weight: 700;
  font-size: 0.8125rem; }
  .nav__link:hover {
    text-decoration: underline; }

.order-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: ubuntu;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background-color: #e45028;
  padding: 0.5625rem 1rem;
  border-radius: 0.3125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70%; }
  @media screen and (max-width: 768px) {
    .about__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding: 0 5rem; } }
  @media screen and (max-width: 480px) {
    .about__content {
      padding: 1.75rem 3.75rem 0; } }
  @media screen and (max-width: 400px) {
    .about__content {
      padding: 1.75rem 1.875rem 0; } }

.about__img img {
  margin-left: 0.875rem;
  margin-top: -0.875rem;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .about__img img {
      margin-left: 0;
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  .about__img {
    padding-top: 3.4375rem; } }

@media screen and (max-width: 480px) {
  .about__img {
    padding-top: 0.9375rem; } }

.section__title {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 4.5rem;
  color: #f9b43b;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 0.4375rem; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.9375rem;
      line-height: 1;
      margin-bottom: 0; } }
  @media screen and (max-width: 400px) {
    .section__title {
      font-size: 3.1875rem; } }

.about__description {
  padding-left: 1.75rem;
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .about__description {
      padding-top: 0.625rem; } }
  @media screen and (max-width: 480px) {
    .about__description {
      padding-top: 2.375rem;
      padding-left: 0; } }

.about__description-text {
  font-family: "lifehack";
  color: #fff;
  font-size: 3.9375rem;
  font-weight: 500;
  line-height: 1; }
  @media screen and (max-width: 480px) {
    .about__description-text {
      font-size: 3.3125rem; } }
  @media screen and (max-width: 400px) {
    .about__description-text {
      font-size: 2.75rem; } }

.about__arrow {
  position: absolute;
  width: 100%;
  bottom: 2.375rem;
  text-align: center;
  left: 0; }
  @media screen and (max-width: 480px) {
    .about__arrow {
      bottom: 1.4375rem; } }

.nav-bar {
  position: fixed;
  z-index: 10;
  top: 5.625rem;
  right: 3.125rem; }
  @media screen and (max-width: 768px) {
    .nav-bar {
      display: none; } }

.nav-bar__item {
  -webkit-box-shadow: 0 0 0.125rem rgba(255, 255, 255, 0);
  box-shadow: 0 0 0.125rem rgba(255, 255, 255, 0);
  margin-bottom: 0.4375rem;
  border: 0.25rem solid transparent;
  border-radius: 50%; }
  .nav-bar__item_active {
    -webkit-box-shadow: 0 0 0.125rem white;
    box-shadow: 0 0 0.125rem white; }

.nav-bar__link {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff; }

.hamburger {
  display: none;
  width: 1.5rem;
  height: 1.3125rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (max-width: 480px) {
    .hamburger {
      margin-right: 1.25rem; } }

.hamburger__item {
  background-color: #fff;
  border-radius: 0.25rem;
  height: 0.25rem; }

.fullscreen-menu {
  background-color: rgba(47, 50, 52, 0.99);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  display: none; }

.fullscreen-menu__close {
  position: fixed;
  background: url("../img/cross.png") center center no-repeat;
  height: 1.125rem;
  width: 1.125rem;
  z-index: 10;
  top: 2rem;
  right: 2.1875rem;
  cursor: pointer; }

.fullscreen-menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  height: 100vh; }

.fullscreen-menu__item {
  position: relative;
  margin-bottom: 2rem; }
  .fullscreen-menu__item:last-child {
    margin-bottom: 0; }
    .fullscreen-menu__item:last-child:after {
      display: none; }
  .fullscreen-menu__item:after {
    content: '';
    position: absolute;
    width: 0.375rem;
    height: 0.375rem;
    border-radius: 0.1875rem;
    background-color: #fff;
    bottom: -1.125rem;
    left: 50%;
    margin-left: -0.1875rem; }

.fullscreen-menu__link {
  text-transform: uppercase;
  color: #fff;
  font-family: ubuntu;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  position: relative; }
  .fullscreen-menu__link:hover {
    text-decoration: underline;
    cursor: pointer; }

.best {
  background: url("../img/best-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.best__container {
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title_best {
  text-align: center;
  color: #2f3234;
  margin-bottom: 3.6875rem; }
  @media screen and (max-width: 480px) {
    .section__title_best {
      font-size: 3.125rem;
      margin-bottom: 4.75rem; } }

.best__list {
  width: 100%;
  -padding-bottom: 7.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 480px) {
    .best__list {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -padding-bottom: 5.5rem; } }

.best-list__item {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center; }
  .best-list__item:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .best-list__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 3.0625rem; } }

.best-list__img {
  margin-bottom: 2.1875rem;
  height: 5.625rem; }
  .best-list__img img {
    max-width: 100%; }
  @media screen and (max-width: 480px) {
    .best-list__img {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      height: auto;
      min-width: 9.25rem;
      margin: 0;
      padding-bottom: 1.125rem; } }

.best-list__title {
  font-family: "lifehack";
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.625rem; }

.best-list__description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu;
  font-weight: 300;
  color: #2f3234; }

.slider {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f9b43b), color-stop(40%, #eb8c38), color-stop(60%, #eb8c38), color-stop(0, #eb8c38), to(#f9b43b));
  background: -webkit-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: -o-linear-gradient(top, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  background: linear-gradient(180deg, #f9b43b 0, #eb8c38 40%, #eb8c38 60%, #eb8c38 0, #f9b43b);
  position: relative; }

.slider__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .slider__container {
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 37.25rem; } }

.slider__image {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 4.625rem 0.8125rem 0 0.625rem;
  position: relative; }
  @media screen and (max-width: 768px) {
    .slider__image {
      width: 100%;
      -webkit-box-flex: initial;
      -webkit-flex: initial;
      -ms-flex: initial;
      flex: initial;
      padding-top: 3.375rem;
      margin-bottom: 1.9375rem; } }
  .slider__image img {
    max-width: 100%; }
    @media screen and (max-width: 768px) {
      .slider__image img {
        max-width: 100%; } }
    @media screen and (max-width: 480px) {
      .slider__image img {
        max-width: 100%; } }

.slider__consistence {
  width: 5.6875rem;
  height: 5.6875rem;
  border-radius: 0.3125rem;
  background: #f08c33 url("../img/burger.png") 54% 43% no-repeat;
  color: #fff;
  position: absolute;
  left: 0.5625rem;
  top: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }
  @media screen and (max-width: 768px) {
    .slider__consistence {
      left: 3.875rem;
      top: -1rem; } }
  @media screen and (max-width: 480px) {
    .slider__consistence {
      left: 0.5rem; } }

.slider__valuability {
  position: absolute;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  text-transform: uppercase;
  bottom: -5.25rem;
  left: 0.5625rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center; }
  @media screen and (max-width: 768px) {
    .slider__valuability {
      top: -1rem;
      right: 3.75rem;
      left: auto; } }
  @media screen and (max-width: 480px) {
    .slider__valuability {
      right: 0.6875rem; } }

.slider__kkal {
  font-size: 1.25rem;
  background: url("../img/kkal.png") 50% 50% no-repeat;
  height: 3.75rem;
  width: 3.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 0.625rem; }

.slider__text-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  @media screen and (max-width: 768px) {
    .slider__text-content {
      -webkit-box-flex: initial;
      -webkit-flex: initial;
      -ms-flex: initial;
      flex: initial; } }

.section__title_slider {
  color: #fff;
  line-height: 4rem; }
  @media screen and (max-width: 768px) {
    .section__title_slider {
      padding: 0 2.5rem; } }

.slider__description {
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu;
  font-weight: 300;
  padding-top: 1.8125rem; }
  @media screen and (max-width: 768px) {
    .slider__description {
      padding: 0.8125rem 0 0 0; } }

.slider__form {
  padding-top: 2.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.slider__price-block {
  color: #e35028;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-right: 1.5625rem; }

.slider__price {
  font-size: 4.5rem;
  font-weight: 500; }

.slider__btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: -0.375rem; }

.slider__nav {
  position: absolute;
  top: 48%;
  width: 100%; }

.slider__nav-btn {
  position: absolute;
  z-index: 8;
  height: 1.6875rem;
  width: 0.9375rem;
  background: url("../img/arrow-scroll.png") center center no-repeat; }

.slider__nav-btn_left {
  left: 2.9375rem; }
  @media screen and (max-width: 480px) {
    .slider__nav-btn_left {
      left: 0.6875rem; } }

.slider__nav-btn_right {
  right: 2.9375rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }
  @media screen and (max-width: 480px) {
    .slider__nav-btn_right {
      right: 0.6875rem; } }

.team {
  background: url("../img/team-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  position: relative; }

.team__content {
  background-color: rgba(47, 50, 52, 0.93);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 33.75rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: auto;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.section__title_team {
  line-height: 1;
  margin-bottom: 3.75rem; }
  @media screen and (max-width: 480px) {
    .section__title_team {
      margin-bottom: 6.0625rem;
      font-size: 3.0625rem; } }

.team__center-container {
  width: 23.75rem;
  margin: 0 auto;
  -padding-top: 5.5625rem;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media screen and (max-width: 768px) {
    .team__center-container {
      width: 21.75rem; } }
  @media screen and (max-width: 480px) {
    .team__center-container {
      -padding-top: 3.875rem;
      width: 20rem; } }

.accordeon {
  color: #fff; }

.team__title {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.25rem;
  cursor: pointer; }
  .team__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid #f9b43b;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 0.6875rem;
    left: 0px; }
    @media screen and (max-width: 480px) {
      .team__title:before {
        left: 0.125rem;
        border-width: 0.375rem; } }
  @media screen and (max-width: 768px) {
    .team__title {
      display: inline-block; } }
  @media screen and (max-width: 480px) {
    .team__title {
      padding-left: 1.5rem;
      font-size: 1.5rem;
      margin-bottom: 2.125rem; } }

.team__item_active .team__description {
  height: auto;
  margin-bottom: 1.9375rem; }
  @media screen and (max-width: 480px) {
    .team__item_active .team__description {
      margin-bottom: 2.1875rem; } }

.team__item_active .team__title {
  margin-bottom: 0.5rem;
  color: #f9b43b; }
  .team__item_active .team__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 0.25rem; }
  @media screen and (max-width: 480px) {
    .team__item_active .team__title {
      margin-bottom: 1.125rem; } }

.team__description {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s; }

.team__img {
  width: 6.3125rem;
  height: 6.3125rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 1.25rem;
  margin-left: 1.0625rem; }
  .team__img img {
    margin-left: -1.25rem; }
  @media screen and (max-width: 768px) {
    .team__img {
      float: none;
      margin: 0 auto 1rem; } }
  @media screen and (max-width: 480px) {
    .team__img {
      margin-bottom: 1.0625rem; } }

.team__about {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu; }

.team__name {
  font-weight: 900;
  padding-bottom: 0.4375rem;
  font-size: 0.875rem; }
  @media screen and (max-width: 480px) {
    .team__name {
      padding-bottom: 0.75rem; } }

.team__text {
  font-weight: 300;
  font-size: 0.9375rem;
  line-height: 1.375rem; }

.feedbacks {
  position: relative; }

.feedbacks__list {
  height: 100%; }

.feedbacks__item {
  float: left;
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .feedbacks__item {
      width: 50%;
      height: 25vh; } }

.feedback {
  position: relative;
  height: 100%; }
  .feedback:hover .feedback__hover {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.feedback__photo {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 100%;
  height: 100%; }

.feedback__hover {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  padding: 3.125rem 1.875rem 0 1.25rem;
  opacity: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 1, 5, 0.7);
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7); }
  @media screen and (max-width: 768px) {
    .feedback__hover {
      text-align: center;
      padding-top: 1.875rem; } }
  @media screen and (max-width: 480px) {
    .feedback__hover {
      padding: 2.5rem 1.25rem 0 1.25rem; } }

.feedback__title {
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  text-transform: uppercase;
  margin-bottom: 0.875rem; }
  @media screen and (max-width: 480px) {
    .feedback__title {
      font-size: 1.5rem;
      margin-bottom: 1.5625rem; } }

.feedback__microtext {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu;
  font-weight: 300;
  margin-bottom: 0.875rem; }
  @media screen and (max-width: 480px) {
    .feedback__microtext {
      display: none; } }

.feedback__button {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: ubuntu;
  line-height: 2.308;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  background-color: #2f3234;
  padding: 0.75rem 0.9375rem;
  border-radius: 0.3125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .feedback__button:hover {
    background-color: #1e2021; }
  @media screen and (max-width: 480px) {
    .feedback__button {
      font-size: 0.75rem;
      padding: 0.5rem 0.9375rem; } }

.order-form {
  background: url("../img/order-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.order-form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.order-form__title {
  text-align: center; }
  @media screen and (max-width: 480px) {
    .order-form__title {
      font-size: 50px;
      line-height: 62px;
      padding: 0 10px; } }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form_margin {
  margin-top: 3.625rem; }
  @media screen and (max-width: 480px) {
    .form_margin {
      margin-top: 1.25rem; } }

.form__column {
  width: 49%;
  margin-right: auto; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 96%; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }

.form__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5%; }
  .form__field:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    .form__field {
      margin-right: 2%; } }

.form__name {
  color: #fff;
  display: block;
  font-family: ubuntu;
  font-weight: 300;
  padding-bottom: 0.4375rem;
  font-size: 0.875rem; }

.form__input {
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #d1cfcb;
  padding: 0.5rem 0.625rem; }

.form_textarea {
  height: 7.1875rem;
  resize: none; }

.form__field_full {
  display: block;
  width: 100%; }

@media screen and (max-width: 480px) {
  .form__field_quarter:last-child {
    display: none; } }

@media screen and (max-width: 480px) {
  .form__field_quarter:nth-child(3) {
    margin-right: 0; } }

@media screen and (max-width: 480px) {
  .form__row_center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 1.1875rem; } }

@media screen and (max-width: 480px) {
  .form__row_center .form__field_radio {
    margin-right: 3%; } }

.form__row_textarea {
  margin-bottom: 0.5rem; }

.form__field_radio, .form__field_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial; }
  .form__field_radio .form__name, .form__field_checkbox .form__name {
    padding-bottom: 0; }
  .form__field_radio input, .form__field_checkbox input {
    margin-right: 0.625rem; }

.form__checkbox {
  display: none; }
  .form__checkbox + span::before {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    font-weight: 900;
    font-family: "Arial Black";
    border: 0.1875rem solid #fff;
    content: "\2714";
    display: inline-block;
    height: 0.9375rem;
    width: 0.9375rem;
    line-height: 0.5rem;
    text-indent: -0.0625rem;
    margin: -0.5rem 0.5625rem 0 0.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0.0625rem #e7e7e7;
    box-shadow: 0 0 0 0.0625rem #e7e7e7; }
    .form__checkbox + span::before:hover {
      cursor: pointer; }
  .form__checkbox:checked + span::before {
    color: #e45028; }

.form__radio {
  display: none; }
  .form__radio + span::before {
    background: #fff none repeat scroll 0 0;
    border: 0.125rem solid #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 0.6875rem;
    width: 0.6875rem;
    padding: 0.125rem;
    margin: -0.25rem 0.5625rem -0.125rem 0.1875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0.0625rem #e7e7e7;
    box-shadow: 0 0 0 0.0625rem #e7e7e7; }
    .form__radio + span::before:hover {
      cursor: pointer; }
  .form__radio:checked + span::before {
    background: #e45028 none repeat scroll 0 0; }

.form__submit {
  border: none;
  cursor: pointer; }

.form__reset {
  border: none;
  background: none;
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  padding: 0 1.3125rem;
  font-weight: 300; }
  .form__reset:hover {
    text-decoration: underline;
    cursor: pointer; }

.contacts {
  position: relative; }

#map {
  width: 100%;
  height: 100%; }

.footer {
  height: 3.625rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("../img/footer-bg.jpg") 50% 50% no-repeat;
  background-size: cover; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 7.1875rem; } }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 480px) {
    .footer__container {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
      flex-flow: row wrap;
      height: 100%; } }

.footer__address {
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding-top: 0.4375rem; }
  @media screen and (max-width: 480px) {
    .footer__address {
      padding-top: 0; } }

.footer__phone {
  font-family: ubuntu;
  font-weight: 900;
  color: #e45028;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-left: 1.25rem;
  background-image: url(../img/icons/phone.svg);
  background-position: 0 0.3125rem;
  background-repeat: no-repeat;
  display: inline-block; }

.footer__info {
  display: block;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .footer__info {
      padding-left: 1.5rem; } }
  @media screen and (max-width: 480px) {
    .footer__info {
      padding-left: 0;
      text-align: center;
      height: auto;
      width: 100%; } }

.socials {
  text-align: right; }
  @media screen and (max-width: 480px) {
    .socials {
      text-align: center;
      width: 100%;
      margin-top: -0.8125rem;
      margin-left: 1rem; } }

.socials__link {
  text-decoration: none;
  color: #fff;
  margin-right: 1.125rem; }

.socials_icon {
  fill: #fff;
  opacity: 0.3;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block; }
  .socials_icon:hover {
    opacity: 1; }

.menu {
  background: url("../img/menu-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__title {
  color: #fff;
  margin-top: 6.875rem; }
  @media screen and (max-width: 480px) {
    .menu__title {
      margin: 3.25rem 0 0 3.6875rem;
      font-size: 3.1875rem; } }

.menu-list-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-list__item {
  position: relative;
  width: 5rem;
  -webkit-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s; }

.menu-list__item_active {
  width: 38.75rem; }
  @media screen and (max-width: 480px) {
    .menu-list__item_active {
      width: 20rem; } }
  .menu-list__item_active .menu-list__content {
    width: 33.75rem; }
    @media screen and (max-width: 480px) {
      .menu-list__item_active .menu-list__content {
        width: 15rem;
        padding: 1.875rem 1.25rem 1.875rem; } }
  .menu-list__item_active .menu-list__text {
    color: #f9b43b; }

.menu-list__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80px;
  cursor: pointer; }

.menu-list__filler {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.menu-list__text {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transform: translate(-50%, -100%) rotate(-90deg);
  -ms-transform: translate(-50%, -100%) rotate(-90deg);
  transform: translate(-50%, -100%) rotate(-90deg);
  position: absolute;
  top: 100%;
  padding-left: 5rem;
  left: 50%;
  right: 0;
  white-space: nowrap; }

.menu-list__content {
  padding: 3.875rem 2.25rem 1.875rem;
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  background-color: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  margin-left: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }

@media screen and (max-width: 380px) {
  .section__title_best {
    margin-bottom: 1.75rem; }
  .best-list__item {
    margin-right: 0;
    margin-bottom: 1.0625rem; }
  .section__title_slider {
    line-height: 51px; }
  .slider__image {
    margin-bottom: 10px;
    padding-top: 77px; } }

@media screen and (max-height: 568px) and (max-width: 320px) {
  .form_margin {
    margin-top: 0; }
  .form__column {
    max-height: 264px; }
  .form__input {
    padding: 5px 10px; }
  .form_textarea {
    height: 40px; }
  .form__row_center {
    padding-top: 0; } }
