@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-b.eot");
  src: url("../fonts/ubuntu/ubuntu-b.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-b.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b.woff") format("woff"), url("../fonts/ubuntu/ubuntu-b.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-b.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-medium.eot");
  src: url("../fonts/ubuntu/ubuntu-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-medium.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium.eot");
  src: url("../fonts/lifehack_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium.woff2") format("woff2"), url("../fonts/lifehack_medium.woff") format("woff"), url("../fonts/lifehack_medium.ttf") format("truetype"), url("../fonts/lifehack_medium.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.eot");
  src: url("../fonts/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin-regular.woff") format("woff"), url("../fonts/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin-regular.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.container {
  width: 940px;
  margin: 0 auto;
  height: 100%; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.about {
  background: url("../img/about-bg-textured.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.header {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__logo {
  margin-right: auto; }

.logo img {
  margin-top: -2px;
  margin-left: -8px; }

.header__menu {
  margin-right: 16px; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 13px; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-weight: 700;
  font-size: 13px; }
  .nav__link:hover {
    text-decoration: underline; }

.order-link {
  text-transform: uppercase;
  font-size: 13px;
  font-family: ubuntu;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background-color: #e45028;
  padding: 9px 16px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.about__img img {
  margin-left: 14px;
  margin-top: -14px; }

.section__title {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 72px;
  color: #f9b43b;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 7px; }

.about__description {
  padding-left: 8px; }

.about__description-text {
  font-family: "lifehack";
  color: #fff;
  font-size: 63px;
  font-weight: 500;
  line-height: 1; }

.about__arrow {
  position: absolute;
  width: 100%;
  bottom: 38px;
  text-align: center;
  left: 0; }

.nav-bar {
  position: fixed;
  z-index: 10;
  top: 90px;
  right: 50px; }

.nav-bar__item {
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0);
  margin-bottom: 7px;
  border: 4px solid transparent;
  border-radius: 50%; }
  .nav-bar__item_active {
    -webkit-box-shadow: 0 0 2px white;
    box-shadow: 0 0 2px white; }

.nav-bar__link {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff; }

.best {
  background: url("../img/best-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.best__container {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title_best {
  text-align: center;
  color: #2f3234;
  margin-bottom: 59px; }

.best__list {
  width: 100%;
  padding-bottom: 120px; }

.best-list__item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center; }
  .best-list__item:last-child {
    margin-right: 0; }

.best-list__img {
  margin-bottom: 35px;
  height: 90px; }

.best-list__title {
  font-family: "lifehack";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px; }

.best-list__description {
  font-size: 14px;
  line-height: 24px;
  font-family: ubuntu;
  font-weight: 300;
  color: #2f3234; }

.team {
  background: url("../img/team-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  position: relative; }

.team__content {
  background-color: rgba(47, 50, 52, 0.93);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 540px; }

.section__title_team {
  line-height: 1;
  margin-bottom: 82px; }

.team__center-container {
  width: 380px;
  margin: 0 auto;
  padding-top: 89px;
  height: 100%; }

.accordeon {
  color: #fff; }

.team__title {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 28px;
  font-family: 'gagalin';
  margin-bottom: 35px; }

.team__description {
  height: 0;
  overflow: hidden; }

.team__img {
  width: 101px;
  height: 101px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 23px;
  margin-left: 23px; }
  .team__img img {
    margin-left: -18px; }

.team__about {
  font-size: 14px;
  line-height: 24px;
  font-family: 'Ubuntu'; }

.team__name {
  font-weight: 900;
  padding-bottom: 7px; }

.team__text {
  font-weight: 300; }

.feedbacks {
  position: relative; }

.feedbacks__item {
  float: left;
  width: 25%;
  height: 325px; }

.feedback {
  position: relative;
  height: 100%; }
  .feedback:hover .feedback__hover {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.feedback__photo {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 100%;
  height: 100%; }

.feedback__hover {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  padding: 50px 30px 0 20px;
  opacity: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 1, 5, 0.7);
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7); }

.feedback__title {
  font-size: 14px;
  line-height: 28px;
  font-family: 'gagalin';
  text-transform: uppercase;
  margin-bottom: 14px; }

.feedback__microtext {
  font-size: 14px;
  line-height: 24px;
  font-family: ubuntu;
  font-weight: 300;
  margin-bottom: 14px; }

.feedback__button {
  text-transform: uppercase;
  font-size: 13px;
  font-family: ubuntu;
  line-height: 2.308;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  background-color: #2f3234;
  padding: 12px 15px;
  border-radius: 5px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .feedback__button:hover {
    background-color: #1e2021; }

.order-form {
  background: url("../img/order-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.order-form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.order-form__title {
  text-align: center; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.form_margin {
  margin-top: 58px; }

.form__column {
  width: 49%;
  margin-right: auto; }
  .form__column:last-child {
    margin-right: 0; }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px; }

.form__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5%; }
  .form__field:last-child {
    margin-right: 0; }

.form__name {
  color: #fff;
  display: block;
  font-family: ubuntu;
  font-weight: 300;
  padding-bottom: 5px;
  font-size: 14px; }

.form__input {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #d1cfcb;
  padding: 5px 10px; }

.form_textarea {
  height: 105px;
  resize: none; }

.form__field_full {
  display: block;
  width: 100%; }

.form__row_textarea {
  margin-bottom: 8px; }

.form__field_radio, .form__field_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial; }
  .form__field_radio .form__name, .form__field_checkbox .form__name {
    padding-bottom: 0; }
  .form__field_radio input, .form__field_checkbox input {
    margin-right: 10px; }

.form__checkbox {
  display: none; }
  .form__checkbox + span::before {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    font-weight: 900;
    font-family: "Arial Black";
    border: 3px solid #fff;
    content: "\2714";
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 8px;
    text-indent: -1px;
    margin: -8px 9px 0 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #e7e7e7;
    box-shadow: 0 0 0 1px #e7e7e7; }
    .form__checkbox + span::before:hover {
      cursor: pointer; }
  .form__checkbox:checked + span::before {
    color: #e45028; }

.form__radio {
  display: none; }
  .form__radio + span::before {
    background: #fff none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 15px;
    width: 15px;
    padding: 2px;
    margin: -4px 9px -2px 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 1px #e7e7e7;
    box-shadow: 0 0 0 1px #e7e7e7; }
    .form__radio + span::before:hover {
      cursor: pointer; }
  .form__radio:checked + span::before {
    background: #e45028 none repeat scroll 0 0; }
  .form__radio:disabled + span::before {
    background-position: -144px -279px; }
  .form__radio:checked:disabled + span::before {
    background-position: -162px -279px; }

.form__submit {
  border: none;
  cursor: pointer; }

.form__reset {
  border: none;
  background: none;
  color: #fff;
  font-family: ubuntu;
  font-size: 14px;
  padding: 0 21px;
  font-weight: 300; }
  .form__reset:hover {
    text-decoration: underline;
    cursor: pointer; }

.contacts {
  background: url("../img/map-markers.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.footer {
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("../img/footer-bg.jpg") 50% 50% no-repeat;
  background-size: cover; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__address {
  color: #fff;
  font-family: ubuntu;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  padding-top: 7px; }

.footer__phone {
  font-family: ubuntu;
  font-weight: 900;
  color: #e45028;
  font-size: 14px;
  line-height: 24px;
  padding-left: 20px;
  background-image: url(../img/icons/phone.svg);
  background-position: 0 5px;
  background-repeat: no-repeat; }

.footer__info {
  display: block;
  height: 100%; }

.socials {
  text-align: right; }

.socials__link {
  text-decoration: none;
  color: #fff; }

.socials_icon {
  fill: #fff;
  opacity: 0.3;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: inline-block; }
  .socials_icon:hover {
    opacity: 1; }
