@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-b.eot");
  src: url("../fonts/ubuntu/ubuntu-b.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-b.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-b.woff") format("woff"), url("../fonts/ubuntu/ubuntu-b.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-b.svg#ubuntubold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-light.eot");
  src: url("../fonts/ubuntu/ubuntu-light.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-light.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-light.woff") format("woff"), url("../fonts/ubuntu/ubuntu-light.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-light.svg#ubuntulight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-medium.eot");
  src: url("../fonts/ubuntu/ubuntu-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-medium.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-medium.woff") format("woff"), url("../fonts/ubuntu/ubuntu-medium.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-medium.svg#ubuntumedium") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: ubuntu;
  src: url("../fonts/ubuntu/ubuntu-regular.eot");
  src: url("../fonts/ubuntu/ubuntu-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu/ubuntu-regular.woff2") format("woff2"), url("../fonts/ubuntu/ubuntu-regular.woff") format("woff"), url("../fonts/ubuntu/ubuntu-regular.ttf") format("truetype"), url("../fonts/ubuntu/ubuntu-regular.svg#ubunturegular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'lifehack';
  src: url("../fonts/lifehack_medium.eot");
  src: url("../fonts/lifehack_medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lifehack_medium.woff2") format("woff2"), url("../fonts/lifehack_medium.woff") format("woff"), url("../fonts/lifehack_medium.ttf") format("truetype"), url("../fonts/lifehack_medium.svg#lifehackmedium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gagalin';
  src: url("../fonts/gagalin-regular.eot");
  src: url("../fonts/gagalin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/gagalin-regular.woff2") format("woff2"), url("../fonts/gagalin-regular.woff") format("woff"), url("../fonts/gagalin-regular.ttf") format("truetype"), url("../fonts/gagalin-regular.svg#gagalinregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }

@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-family: ubuntu, Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  overflow-x: hidden; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; }

body, html {
  height: 100%;
  width: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.wrapper {
  width: 100%;
  height: 100%;
  position: relative; }

.maincontent {
  height: 100%;
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .maincontent {
      min-height: 1024px; } }

.container {
  max-width: 940px;
  margin: 0 auto;
  height: 100%; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  max-width: 100%;
  min-height: 650px; }
  @media screen and (max-width: 768px) {
    .section {
      min-height: 1024px; } }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

.about {
  background: url("../img/about-bg-textured.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.about__container {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }

.header__logo {
  margin-right: auto; }

.logo img {
  margin-top: -0.125rem;
  margin-left: -0.5rem; }
  @media screen and (max-width: 768px) {
    .logo img {
      margin-top: 0.125rem;
      margin-left: 1.4375rem; } }

.header__menu {
  margin-right: 1rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.8125rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-weight: 700;
  font-size: 13px; }
  .nav__link:hover {
    text-decoration: underline; }

.order-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: ubuntu;
  text-align: center;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background-color: #e45028;
  padding: 0.5625rem 1rem;
  border-radius: 0.3125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #ce401a; }

.about__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 70%; }
  @media screen and (max-width: 768px) {
    .about__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      padding: 0 5rem; } }

.about__img img {
  margin-left: 0.875rem;
  margin-top: -0.875rem;
  max-width: 100%; }
  @media screen and (max-width: 768px) {
    .about__img img {
      margin-left: 0;
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  .about__img {
    padding-top: 3.4375rem; } }

.section__title {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 4.5rem;
  color: #f9b43b;
  text-transform: uppercase;
  width: 100%;
  margin: 0 0 0.4375rem; }

.about__description {
  padding-left: 1.75rem;
  padding-top: 3.75rem; }
  @media screen and (max-width: 768px) {
    .about__description {
      padding-top: 0.625rem; } }

.about__description-text {
  font-family: "lifehack";
  color: #fff;
  font-size: 3.9375rem;
  font-weight: 500;
  line-height: 1; }

.about__arrow {
  position: absolute;
  width: 100%;
  bottom: 2.375rem;
  text-align: center;
  left: 0; }

.nav-bar {
  position: fixed;
  z-index: 10;
  top: 5.625rem;
  right: 3.125rem; }
  @media screen and (max-width: 768px) {
    .nav-bar {
      display: none; } }

.nav-bar__item {
  -webkit-box-shadow: 0 0 2px rgba(255, 255, 255, 0);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0);
  margin-bottom: 0.4375rem;
  border: 0.25rem solid transparent;
  border-radius: 50%; }
  .nav-bar__item_active {
    -webkit-box-shadow: 0 0 0.125rem white;
    box-shadow: 0 0 0.125rem white; }

.nav-bar__link {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 0.1875rem;
  background-color: #fff;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  color: #fff; }

.hamburger {
  display: none;
  width: 1.5rem;
  height: 1.375rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
  cursor: pointer; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.hamburger__item {
  background-color: #fff;
  border-radius: 0.25rem;
  height: 0.25rem; }

.best {
  background: url("../img/best-bg.png") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.best__container {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section__title_best {
  text-align: center;
  color: #2f3234;
  margin-bottom: 3.6875rem; }

.best__list {
  width: 100%;
  padding-bottom: 7.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.best-list__item {
  margin-right: 1.25rem;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center; }
  .best-list__item:last-child {
    margin-right: 0; }

.best-list__img {
  margin-bottom: 2.1875rem;
  height: 5.625rem; }

.best-list__title {
  font-family: "lifehack";
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 0.625rem; }

.best-list__description {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu;
  font-weight: 300;
  color: #2f3234; }

.team {
  background: url("../img/team-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  background-position: 0% 0%;
  position: relative; }

.team__content {
  background-color: rgba(47, 50, 52, 0.93);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 33.75rem; }
  @media screen and (max-width: 768px) {
    .team__content {
      width: auto;
      left: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.section__title_team {
  line-height: 1;
  margin-bottom: 3.75rem; }

.team__center-container {
  width: 23.75rem;
  margin: 0 auto;
  padding-top: 5.5625rem;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .team__center-container {
      width: 21.75rem; } }

.accordeon {
  color: #fff; }

.team__title {
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  margin-bottom: 1.5rem;
  position: relative;
  padding-left: 1.25rem; }
  .team__title:before {
    content: "";
    width: 0;
    height: 0;
    border: 0.3125rem solid #f9b43b;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: 0.6875rem;
    left: 0px; }
  @media screen and (max-width: 768px) {
    .team__title {
      display: inline-block; } }

.team__item_active .team__description {
  height: auto;
  margin-bottom: 1.9375rem; }

.team__item_active .team__title {
  margin-bottom: 0.5rem;
  color: #f9b43b; }
  .team__item_active .team__title:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 0.25rem; }

.team__description {
  height: 0;
  overflow: hidden; }

.team__img {
  width: 6.3125rem;
  height: 6.3125rem;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin-right: 1.25rem;
  margin-left: 1.0625rem; }
  .team__img img {
    margin-left: -1.25rem; }
  @media screen and (max-width: 768px) {
    .team__img {
      float: none;
      margin: 0 auto 1rem; } }

.team__about {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu; }

.team__name {
  font-weight: 900;
  padding-bottom: 0.4375rem; }

.team__text {
  font-weight: 300;
  font-size: 0.9375rem; }

.feedbacks {
  position: relative; }

.feedbacks__item {
  float: left;
  width: 25%;
  height: 20.3125rem; }
  @media screen and (max-width: 768px) {
    .feedbacks__item {
      width: 50%;
      height: 16rem; } }

.feedback {
  position: relative;
  height: 100%; }
  .feedback:hover .feedback__hover {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.feedback__photo {
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  width: 100%;
  height: 100%; }

.feedback__hover {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  padding: 3.125rem 1.875rem 0 1.25rem;
  opacity: 0;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 1, 5, 0.7);
  -webkit-transform: translate(-50%, -50%) scale(0.7);
  -ms-transform: translate(-50%, -50%) scale(0.7);
  transform: translate(-50%, -50%) scale(0.7); }
  @media screen and (max-width: 768px) {
    .feedback__hover {
      text-align: center;
      padding-top: 1.875rem; } }

.feedback__title {
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-family: 'gagalin';
  text-transform: uppercase;
  margin-bottom: 0.875rem; }

.feedback__microtext {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: ubuntu;
  font-weight: 300;
  margin-bottom: 0.875rem; }

.feedback__button {
  text-transform: uppercase;
  font-size: 0.8125rem;
  font-family: ubuntu;
  line-height: 2.308;
  text-align: center;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  background-color: #2f3234;
  padding: 0.75rem 0.9375rem;
  border-radius: 0.3125rem;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .feedback__button:hover {
    background-color: #1e2021; }

.order-form {
  background: url("../img/order-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.order-form__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.order-form__title {
  text-align: center; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media screen and (max-width: 768px) {
    .form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; } }

.form_margin {
  margin-top: 3.625rem; }

.form__column {
  width: 49%;
  margin-right: auto; }
  .form__column:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 62%;
      margin: 0; } }

.form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem; }

.form__field {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5%; }
  .form__field:last-child {
    margin-right: 0; }

.form__name {
  color: #fff;
  display: block;
  font-family: ubuntu;
  font-weight: 300;
  padding-bottom: 0.4375rem;
  font-size: 0.875rem; }

.form__input {
  width: 100%;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #d1cfcb;
  padding: 0.5rem 0.625rem; }

.form_textarea {
  height: 7.1875rem;
  resize: none; }

.form__field_full {
  display: block;
  width: 100%; }

.form__row_textarea {
  margin-bottom: 0.5rem; }

.form__field_radio, .form__field_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: initial;
  -webkit-flex: initial;
  -ms-flex: initial;
  flex: initial; }
  .form__field_radio .form__name, .form__field_checkbox .form__name {
    padding-bottom: 0; }
  .form__field_radio input, .form__field_checkbox input {
    margin-right: 0.625rem; }

.form__checkbox {
  display: none; }
  .form__checkbox + span::before {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    font-weight: 900;
    font-family: "Arial Black";
    border: 0.1875rem solid #fff;
    content: "\2714";
    display: inline-block;
    height: 0.9375rem;
    width: 0.9375rem;
    line-height: 0.5rem;
    text-indent: -0.0625rem;
    margin: -0.5rem 0.5625rem 0 0.25rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0.0625rem #e7e7e7;
    box-shadow: 0 0 0 0.0625rem #e7e7e7; }
    .form__checkbox + span::before:hover {
      cursor: pointer; }
  .form__checkbox:checked + span::before {
    color: #e45028; }

.form__radio {
  display: none; }
  .form__radio + span::before {
    background: #fff none repeat scroll 0 0;
    border: 0.125rem solid #fff;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 0.6875rem;
    width: 0.6875rem;
    padding: 0.125rem;
    margin: -0.25rem 0.5625rem -0.125rem 0.1875rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 0 0 0.0625rem #e7e7e7;
    box-shadow: 0 0 0 0.0625rem #e7e7e7; }
    .form__radio + span::before:hover {
      cursor: pointer; }
  .form__radio:checked + span::before {
    background: #e45028 none repeat scroll 0 0; }

.form__submit {
  border: none;
  cursor: pointer; }

.form__reset {
  border: none;
  background: none;
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  padding: 0 1.3125rem;
  font-weight: 300; }
  .form__reset:hover {
    text-decoration: underline;
    cursor: pointer; }

.contacts {
  background: url("../img/map-markers.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative; }

.footer {
  height: 3.625rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: url("../img/footer-bg.jpg") 50% 50% no-repeat;
  background-size: cover; }

.footer__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.footer__address {
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 300;
  padding-top: 0.4375rem; }

.footer__phone {
  font-family: ubuntu;
  font-weight: 900;
  color: #e45028;
  font-size: 0.875rem;
  line-height: 1.5rem;
  padding-left: 1.25rem;
  background-image: url(../img/icons/phone.svg);
  background-position: 0 0.3125rem;
  background-repeat: no-repeat; }

.footer__info {
  display: block;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .footer__info {
      padding-left: 1.5rem; } }

.socials {
  text-align: right; }

.socials__link {
  text-decoration: none;
  color: #fff; }

.socials_icon {
  fill: #fff;
  opacity: 0.3;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1.25rem;
  display: inline-block; }
  .socials_icon:hover {
    opacity: 1; }

.menu {
  background: url("../img/menu-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }

.menu__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__title {
  color: #fff;
  margin-top: 6.875rem; }

.menu-list-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0; }

.menu-list {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu-list__item {
  position: relative;
  width: 5rem; }

.menu-list__item_active {
  width: 38.75rem; }
  .menu-list__item_active .menu-list__content {
    width: 33.75rem; }
  .menu-list__item_active .menu-list__text {
    color: #f9b43b; }

.menu-list__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 5rem; }

.menu-list__filler {
  background-color: rgba(20, 20, 20, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.menu-list__text {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  -webkit-transform: translate(-50%, -100%) rotate(-90deg);
  -ms-transform: translate(-50%, -100%) rotate(-90deg);
  transform: translate(-50%, -100%) rotate(-90deg);
  position: absolute;
  top: 100%;
  padding-left: 2.5rem;
  left: 50%;
  right: 0;
  white-space: nowrap; }

.menu-list__content {
  padding: 3.875rem 2.25rem 1.875rem;
  color: #fff;
  font-family: ubuntu;
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 300;
  background-color: rgba(47, 50, 52, 0.93);
  width: 0;
  overflow: hidden;
  margin-left: 5rem;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0; }
