.about {
    @include background('../img/about-bg-textured.png');
    position: relative;
}
.about__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
    padding-top: rem(10px);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
}

.header__logo {
margin-right: auto;
}
.logo {
    
    img {
        margin-top: rem(-2px);
        margin-left: rem(-8px);
        position: relative;
        z-index: 12;
         @include tablets {
            margin-top: rem(2px);
            margin-left: rem(23px);
        }
        @include phones {
        margin-left: rem(17px);
        }
    }
}
.header__menu {
    margin-right: rem(16px);
     @include tablets {
        display: none;
  }
}
.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    
    &:after {
        display: inline-block;
        vertical-align: middle;
        content:" ";
        @include circle(rem(5px),#fff);
        margin: 0 13px;
    }
    
    &:last-child:after {
        display: none;
    }
}
.nav__link {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    font-weight: 700;
    font-size: rem(13px);
    
    &:hover {
        text-decoration: underline;
    }
}
.order-link {
    text-transform: uppercase;
    font-size: rem(13px);
    font-family: ubuntu;
    text-align: center;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    background-color: #e45028;
    padding: rem(9px) rem(16px);
    border-radius: rem(5px);
    transition: .5s;
    
    &:hover {
        background-color: darken(#e45028,7%);
    }
}
.about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    
     @include tablets {
        flex-direction: column;
        text-align: center;
         padding: 0 rem(80px);
  }
    @include phones {
        padding: rem(28px) rem(60px) 0;
    }
    @include small {
        padding: rem(28px) rem(30px) 0;
    }
}
.about__img {
      
    img {
        margin-left: rem(14px);
        margin-top: rem(-14px);
        max-width: 100%;
        @include tablets {
        margin-left: 0;
            margin-top: 0;
        }
    }
    @include tablets {
        padding: 0 3.25rem;
    margin-top: rem(-85px);
    }
    @include phones {
        padding-top: 0;
    }
}
.section__title {
    font-family: "gagalin";
    font-weight: 400;
    font-size: rem(72px);
    color: $title-orange;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 rem(7px);
    @include phones {
        font-size: rem(63px);
        line-height: 1;
        margin-bottom: 0;
    }
    @include small {
        font-size: rem(51px);
    }
}
.about__description {
    padding-left: rem(28px);
    padding-top: rem(60px);
    @include tablets {
        padding-top: rem(10px);
    }
    @include phones {
        padding-top: rem(38px);
        padding-left: 0;
        
    }
}
.about__description-text {
    font-family: "lifehack";
    color:#fff;
    font-size: rem(63px);
    font-weight: 500;
    line-height: 1;
    @include phones {
        font-size: rem(53px);
    }
    @include small {
        font-size: rem(44px);
    }
}
.about__arrow {
    position: absolute;
    width: 100%;
    bottom: rem(38px);
    text-align: center;
    left: 0;
    @include phones {
        bottom: rem(23px);
    }
}
.nav-bar {
    position: fixed;
    z-index: 10;
    top: rem(90px);
    right: rem(50px);
    @include tablets {
        display: none;
  }
}
.nav-bar__list {
    
}
.nav-bar__item {
    box-shadow: 0 0 rem(2px) rgba(255,255,255,0);
    margin-bottom: rem(7px);
    border: rem(4px) solid transparent;
    border-radius: 50%;
    
    &_active {
        box-shadow: 0 0 rem(2px) rgba(255,255,255,1);
    }
}
.nav-bar__link {
   display:block;
    @include circle(rem(6px),#fff);
    box-sizing: content-box;
    color:#fff;
}
.hamburger {
    display: none;
    width: rem(24px);
    height: rem(21px);
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-left: rem(30px);
    margin-right: rem(30px);
    cursor: pointer;
    
    @include tablets {
        display: flex;
    }
    @include phones {
        margin-right: rem(20px);
    }
}
.hamburger__item {
    background-color: #fff;
    border-radius: rem(4px);
    height: rem(4px);
}
.fullscreen-menu {
    background-color: rgba(47,50,52,.99);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    display: none;
}
.fullscreen-menu__close {
    position: fixed;
    background: url('../img/cross.png') center center no-repeat;
    height: rem(18px);
    width: rem(18px);
    z-index: 10;
    top: rem(32px);
    right: rem(35px);
    cursor: pointer;
}
.fullscreen-menu__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100vh;
}
.fullscreen-menu__item {
    position: relative;
    margin-bottom: rem(32px);
    &:last-child {
        margin-bottom: 0;
        &:after {
            display: none;
        }
    }
    &:after {
        content: '';
        position: absolute;
        @include circle(rem(6px),#fff);
        bottom: rem(-18px);
        left: 50%;
        margin-left: rem(-3px);
    }
}
.fullscreen-menu__link {
    text-transform: uppercase;
    color: #fff;
    font-family: ubuntu;
    font-weight: 500;
    font-size: rem(24px);
    line-height: rem(40px);
    text-decoration: none;
    position: relative;
    
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}