.about {
    @include background('../img/about-bg-textured.png');
    position: relative;
}
.about__container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.header {
    padding-top: rem(10px);
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo {
margin-right: auto;
}
.logo {
    
    img {
        margin-top: rem(-2px);
        margin-left: rem(-8px);
         @include tablets {
            margin-top: rem(2px);
            margin-left: rem(23px);
        }
    }
}
.header__menu {
    margin-right: rem(16px);
     @include tablets {
        display: none;
  }
}
.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    
    &:after {
        display: inline-block;
        vertical-align: middle;
        content:" ";
        @include circle(rem(5px),#fff);
        margin: 0 rem(13px);
    }
    
    &:last-child:after {
        display: none;
    }
}
.nav__link {
    text-decoration: none;
    color:#fff;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    font-weight: 700;
    font-size: 13px;
    
    &:hover {
        text-decoration: underline;
    }
}
.header__button {
}
.order-link {
    text-transform: uppercase;
    font-size: rem(13px);
    font-family: ubuntu;
    text-align: center;
    color:#fff;
    font-weight: 500;
    text-decoration: none;
    background-color: #e45028;
    padding: rem(9px) rem(16px);
    border-radius: rem(5px);
    transition: .5s;
    
    &:hover {
        background-color: darken(#e45028,7%);
    }
}
.about__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    
     @include tablets {
        flex-direction: column;
        text-align: center;
         padding: 0 rem(80px);
  }
}
.about__img {
      
    img {
        margin-left: rem(14px);
        margin-top: rem(-14px);
        max-width: 100%;
        @include tablets {
        margin-left: 0;
            margin-top: 0;
        }
    }
    @include tablets {
        padding-top: rem(55px);
    }
}
.section__title {
    font-family: "gagalin";
    font-weight: 400;
    font-size: rem(72px);
    color: $title-orange;
    text-transform: uppercase;
    width: 100%;
    margin: 0 0 rem(7px);
}
.about__description {
    padding-left: rem(28px);
    padding-top: rem(60px);
    @include tablets {
        padding-top: rem(10px);
    }
}
.about__description-text {
    font-family: "lifehack";
    color:#fff;
    font-size:rem(63px);
    font-weight: 500;
    line-height: 1;
}
.about__arrow {
    position: absolute;
    width: 100%;
    bottom: rem(38px);
    text-align: center;
    left: 0;
}
.nav-bar {
    position: fixed;
    z-index: 10;
    top: rem(90px);
    right: rem(50px);
    @include tablets {
        display: none;
  }
}
.nav-bar__list {
    
}
.nav-bar__item {
    box-shadow: 0 0 2px rgba(255,255,255,0);
    margin-bottom: rem(7px);
    border:rem(4px) solid transparent;
    border-radius: 50%;
    
    &_active {
        box-shadow: 0 0 rem(2px) rgba(255,255,255,1);
    }
}
.nav-bar__link {
   display:block;
    @include circle(rem(6px),#fff);
    box-sizing: content-box;
    color:#fff;
}
.hamburger {
    display: none;
    width: rem(24px);
    height: rem(22px);
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    margin-left: rem(30px);
    margin-right: rem(30px);
    cursor: pointer;
    
    @include tablets {
        display: flex;
  }
}
.hamburger__item {
    background-color: #fff;
    border-radius: rem(4px);
    height: rem(4px);
}