.best{
    @include background('../img/best-bg.png');
    position: relative;
}
.best__container {
    height: 100vh;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.section__title_best {
    text-align: center;
    color:#2f3234;
    margin-bottom: 59px;
}
.best__list {
    width: 100%;
    padding-bottom: 120px;
}
.best-list__item {
    float: left;
    width: 300px;
    margin-right: 20px;
    text-align: center;
    
    &:last-child {
        margin-right: 0;
    }
}
.best-list__img {
    margin-bottom: 35px;
    height: 90px;
}
.best-list__title {
    font-family: "lifehack";
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 10px;
}
.best-list__description {
    font-size: 14px;
    line-height: 24px;
    font-family:ubuntu;
    font-weight: 300;
    color: $dark;
}