.best{
    @include background('../img/best-bg.png');
    position: relative;
}
.best__container {
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.section__title_best {
    text-align: center;
    color: #2f3234;
    margin-bottom: rem(59px);
    @include phones {
       font-size: rem(50px);
        margin-bottom: rem(76px);
    }
}
.best__list {
    width: 100%;
    -padding-bottom: rem(120px);
    display: flex;
    
    @include phones {
        flex-wrap: wrap;
        -padding-bottom: rem(88px);
    }
}
.best-list__item {
    margin-right: rem(20px);
    flex: 1;
    text-align: center;
    
    &:last-child {
        margin-right: 0;
    }
    @include phones {
        flex: 1 1 auto;
        text-align: left;
        display: flex;
        margin-bottom: rem(49px);
    }
}
.best-list_wrapper{
    
}
.best-list__img {
    margin-bottom: rem(35px);
    height: rem(90px);
    
    img {
        max-width: 100%;
    }
    @include phones {
        display: flex;
        justify-content: center;
        height: auto;
        min-width: rem(148px);
        margin: 0;
        padding-bottom: rem(18px);
    }
}
.best-list__title {
    font-family: "lifehack";
    font-size: rem(24px);
    line-height: rem(28px);
    margin-bottom: rem(10px);
}
.best-list__description {
    font-size: rem(14px);
    line-height: rem(24px);
    font-family:ubuntu;
    font-weight: 300;
    color: $dark;
}