.contacts {
    @include background('../img/map-markers.jpg');
    position: relative;
}

.footer {
    height: 58px;
    width: 100%;
    position: absolute;
    bottom: 0;
    @include background('../img/footer-bg.jpg');
}
.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__address {
    color: #fff;
    font-family: ubuntu;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    padding-top: 7px;
}
.footer__phone {
    font-family: ubuntu;
    font-weight: 900;
    color: $red;
    font-size: 14px;
    line-height: 24px;
    padding-left: 20px;
    background-image: url(../img/icons/phone.svg);
    background-position: 0 5px;
    background-repeat: no-repeat;
}
.footer__info {
    display: block;
    height: 100%;
}
.socials {
    text-align: right;
}
.socials__link {
    text-decoration: none;
    color:#fff;
}
.socials_icon {
    fill:#fff;
    opacity:0.3;
    width: 20px;
    height: 20px;
    margin-right: 20px;
    display: inline-block;
    
    &:hover{
        opacity:1;
    }
}