.menu{
    @include background('../img/menu-bg.jpg');
    position: relative;
    overflow: hidden;
}
.menu__container {
    display: flex;
}
.menu__title {
    color: #fff;
    margin-top: 110px;
    @include phones {
        margin: 52px 0 0 59px;
        font-size: 51px;
    }
}
.menu-list-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.menu-list {
    height: 100%;
    display: flex;
}
.menu-list__item {
    position: relative;
    width: 80px;
}
.menu-list__item_active {
    width: 620px;
    @include phones {
        width: 320px;
    }
    .menu-list__content {
        width: 540px;
        @include phones {
            width: 240px;
            padding: 30px 20px 30px;
        }
    }
    .menu-list__text {
        color: #f9b43b;
    }
}
.menu-list__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80px;
    cursor: pointer;
}
.menu-list__filler {
    background-color: rgba(20,20,20,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.menu-list__text {
  font-family: "gagalin";
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  transform: translate(-50%, -100%) rotate(-90deg);
  position: absolute;
  top: 100%;
  padding-left: 80px;
  left: 50%;
  right: 0;
  white-space: nowrap;
}
.menu-list__content{
    padding: 62px 36px 30px;
    color:#fff;
    font-family: ubuntu;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    background-color: rgba(47,50,52,.93);
    width: 0;
    overflow:hidden;
    margin-left: 80px;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}