.order-form {
    @include background('../img/order-bg.jpg');
    position: relative;
}
.order-form__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.order-form__title{
    text-align: center;
}
.form {
    display: flex;
     @include tablets {
        flex-flow: column wrap;
         align-items: center;
    }
}
.form_margin{
    margin-top: rem(58px);
}
.form__column {
    width: 49%;
    margin-right: auto;
    
    &:last-child {
        margin-right: 0;
    }
     @include tablets {
        width: 62%;
         margin: 0;
    }
}
.form__row {
    display: flex;
    margin-bottom: rem(16px); 
}
.form__field {
    flex:1;
    margin-right: 5%;
    
    &:last-child {
        margin-right: 0;
    }
}
.form__name {
    color: #fff;
    display: block;
    font-family: ubuntu;
    font-weight: 300;
    padding-bottom: rem(7px);
    font-size: rem(14px);
}
.form__input{
  width: 100%;
  border-radius: rem(5px);
  border: rem(1px) solid #d1cfcb;
  padding: rem(8px) rem(10px);
}
.form_textarea {
    height: rem(115px);
    resize: none;
}
.form__field_full {
    display: block;
    width: 100%;
}
.form__row_textarea{
    margin-bottom: rem(8px);
}
.form__field_radio, .form__field_checkbox{
    display: flex;
    align-items: center;
    flex: initial;
    .form__name {
        padding-bottom: 0;
    }
    input {
        margin-right: rem(10px);
    }
}
.form__checkbox{
    display: none;
    
    & + span::before {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    font-weight: 900;
    font-family: "Arial Black";
    border: rem(3px) solid #fff;
    content: "\2714";
    display: inline-block;
    height: rem(15px);
    width: rem(15px);
    line-height: rem(8px);
    text-indent: rem(-1px);
    margin: rem(-8px) rem(9px) 0 rem(4px);
    box-sizing: border-box;
    box-shadow: 0 0 0 rem(1px) #e7e7e7;
        
        &:hover {
          cursor: pointer;
        }
    }
    &:checked + span::before {
        color: #e45028;
    }

}
.form__radio {
    display: none;
    
    & + span::before {
      background: #fff none repeat scroll 0 0;
      border: rem(2px) solid #fff;
      border-radius: 50%;
      content: "";
      display: inline-block;
      height: rem(11px);
      width: rem(11px);
      padding: rem(2px);
      margin: rem(-4px) rem(9px) rem(-2px) rem(3px);
      box-sizing: border-box;
      box-shadow: 0 0 0 rem(1px) #e7e7e7;
        
        &:hover {
          cursor: pointer;
        }
    }
    &:checked + span::before {
      background: #e45028 none repeat scroll 0 0;
    }
   
}
.form__submit {
    border: none;
    cursor: pointer;
}
.form__reset{
    border: none;
    background: none;
    color: #fff;
    font-family: ubuntu;
    font-size: rem(14px);
    padding: 0 rem(21px);
    font-weight: 300;
    
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}