.slider {
  background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    position: relative;
}
.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @include tablets {
        align-items: center;
        max-width: 596px;
    }
}
.slider__image {
    flex:1;
    padding: 74px 13px 0 10px;
    position: relative;
    @include tablets {
        width: 100%;
        flex: initial;
        padding-top: 54px;
        margin-bottom: 31px;
    }
    img {
        max-width: 100%;
        @include tablets {
            max-width: 100%;
        }
        @include phones {
            max-width: 100%;
        }
    }
}
.slider__consistence {
    width: 91px;
    height: 91px;
    border-radius: 5px;
    background: #f08c33 url('../img/burger.png') 54% 43% no-repeat;
    color: #fff;
    position: absolute;
    left: 9px;
    top: 0;
    text-transform: uppercase;
    font: 14px/28px 'gagalin';
    display: flex;
    justify-content: center;
    align-items: flex-end;
    @include tablets {
        left: 62px;
        top: -16px;
    }
    @include phones {
        left: 8px;
    }
}
.slider__valuability {
    position: absolute;
    font: 14px/24px 'gagalin';
    text-transform: uppercase;
    bottom: -84px;
    left: 9px;
    color: rgba(255,255,255,.5);
    text-align: center;
    @include tablets {
        top: -16px;
        right: 60px;
        left: auto;
    }
    @include phones {
        right: 11px;
    }
}
.slider__kkal {
    font-size: 20px;
    background: url('../img/kkal.png') 50% 50% no-repeat;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
.slider__text-content {
    flex: 1;
    @include tablets {
        flex: initial;
    }
}
.section__title_slider {
    color:  #fff;
    line-height: 64px;
    @include tablets {
        padding: 0 40px;
    }
}
.slider__description {
    color: #fff;
    font: 14px/24px ubuntu;
    font-weight:  300;
    padding-top: 29px;
    @include tablets {
        padding: 13px 0 0 0;
    }
}
.slider__form {
    padding-top: 42px;
    display: flex;
}
.slider__price-block {
    color: #e35028;
    display: flex;
    font: 30px/28px 'gagalin';
    align-items: baseline;
    margin-right: 25px;
}
.slider__price {
    font-size: 72px;
    font-weight: 500;
}
.slider__btn {
    display: flex;
    align-items: flex-end;
    margin-bottom: -6px;
}
.slider__nav {
    position: absolute;
    top: 48%;
    width: 100%;
}
.slider__nav-btn {
    position: absolute;
    z-index: 8;
    height: 27px;
    width: 15px;
    background: url('../img/arrow-scroll.png') center center no-repeat;
}
.slider__nav-btn_left {
    left: 47px;
    @include phones {
        left: 11px;
    }
}
.slider__nav-btn_right {
    right: 47px;
    transform: rotate(180deg);
    transform-origin: center;
    @include phones {
        right: 11px;
    }
}
