.slider {
  background: linear-gradient(180deg,#f9b43b 0,#eb8c38 40%,#eb8c38 60%,#eb8c38 0,#f9b43b);
    position: relative;
}
.slider__holder{
    overflow:hidden;
    height: 100%;
    width: 100%;
}
.owl-stage,.owl-item,.owl-stage-outer {
    height: 100%;
}
.slider__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    @include tablets {
        align-items: center;
        max-width: rem(596px);
    }
}
.slider__image {
    flex:1;
    padding: rem(74px) rem(13px) 0 rem(10px);
    position: relative;
    @include tablets {
        width: 100%;
        flex: initial;
        padding-top: rem(54px);
        margin-bottom: rem(31px);
    }
    @include phones {
        width: 50%;
    }
    img {
        max-width: 100%;
        @include tablets {
            max-width: 100%;
        }
        @include phones {
            max-width: 100%;
        }
    }
}
.slider__consistence {
    width: rem(91px);
    height: rem(91px);
    border-radius: rem(5px);
    background: #f08c33 url('../img/burger.png') 54% 43% no-repeat;
    color: #fff;
    position: absolute;
    left: rem(9px);
    top: 0;
    cursor: pointer;
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: rem(28px);
    font-family: 'gagalin';
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    &:hover {
        background-color: #e35028;
        & + .consistence__table {
            opacity: 1;
        }
    }
    @include tablets {
        left: rem(62px);
        top: rem(-16px);
    }
    @include phones {
        left: -50% !important;
    }
}
.slider__valuability {
    position: absolute;
    font-size: rem(14px);
    line-height: rem(28px);
    font-family: 'gagalin';
    text-transform: uppercase;
    bottom: rem(-84px);
    left: rem(9px);
    color: rgba(255,255,255,.5);
    text-align: center;
    @include tablets {
        top: rem(-16px);
        right: rem(60px);
        left: auto;
    }
    @include phones {
        right: -50% !important;
    }
}
.slider__kkal {
    font-size: rem(20px);
    background: url('../img/kkal.png') 50% 50% no-repeat;
    height: rem(60px);
    width: rem(60px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    padding-bottom: rem(10px);
}
.slider__text-content {
    flex: 1;
    @include tablets {
        flex: initial;
    }
}
.section__title_slider {
    color:  #fff;
    line-height: rem(64px);
    @include tablets {
        padding: 0 rem(40px);
    }
}
.slider__description {
    color: #fff;
    font-size: rem(14px);
    line-height: rem(24px);
    font-family: ubuntu;
    font-weight:  300;
    padding-top: rem(29px);
    @include tablets {
        padding: rem(13px) 0 0 0;
    }
}
.slider__form {
    padding-top: rem(42px);
    display: flex;
}
.slider__price-block {
    color: #e35028;
    display: flex;
    font-size: rem(30px);
    line-height: rem(28px);
    font-family: 'gagalin';
    align-items: baseline;
    margin-right: rem(25px);
}
.slider__price {
    font-size: rem(72px);
    font-weight: 500;
}
.slider__btn {
    display: flex;
    align-items: flex-end;
    margin-bottom: rem(-6px);
}
.slider__nav {
    position: absolute;
    top: 48%;
    width: 100%;
}
.slider__nav-btn,.owl-nav > div {
    position: absolute;
    z-index: 8;
    color: transparent;
    height: rem(27px);
    width: rem(17px);
    background: url('../img/arrow-scroll.png') center center no-repeat;
}
.slider__nav-btn_left,.owl-prev {
    left: rem(47px);
    @include phones {
        left: rem(11px);
    }
}
.slider__nav-btn_right,.owl-next {
    right: rem(47px);
    transform: rotate(180deg);
    transform-origin: center;
    @include phones {
        right: rem(11px);
    }
}
.owl-nav {
    position: relative;
    width: 100%;
    top: -50%;
}
.consistence__table {
    width: rem(268px);
    height: rem(332px);
    padding: rem(20px);
    border-radius: rem(5px);
    background-color: rgba(255,255,255,.9);
    font-family: ubuntu;
    font-size: rem(14px);
    line-height: rem(24px);
    font-weight: 700;
    position: absolute;
    top: 0;
    left: rem(101px);
    opacity: 0;
    transition: opacity .3s;
    color: #333;
    text-transform: none;
    td{
        padding-bottom: rem(17px);
    }
    tr{
        &:last-child {
            td {
              padding-bottom: 0;   
            }
        }
    }
    img {
        width: rem(44px) !important;
    }
    @include phones {
        left: -1.6875rem !important;
    }
} 
