.team{
    background-image: url(../img/team-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.team__content{
    background-color: rgba(47,50,52,.93);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 540px;
}
.section__title_team{
    line-height: 1;
    margin-bottom: 82px;
}
.team__center-container{
    width: 380px;
    margin: 0 auto;
    padding-top: 89px;
    height: 100%;
}
.accordeon{
    color:#fff;
}

.team__list{
    
}
.team__item{
    
}
.team__title{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    font-family: 'gagalin';
    margin-bottom: 35px;
    
    &:after{
        
    }
}
.team__title_active{
    
}
.team__description{
    height: 0;
    overflow: hidden;
}
.team__img{
    width: 101px;
    height: 101px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: 23px;
    margin-left: 23px;
    
    img{
        margin-left: -18px;
    }
}
.team__about{
    font-size: 14px;
    line-height: 24px;
    font-family: 'Ubuntu';
}
.team__name{
    font-weight: 900;
    padding-bottom: 7px;
}
.team__text{
    font-weight: 300;
}
