.team{
    @include background('../img/team-bg.jpg');
    background-position: 0% 0%;
    position: relative;
}
.team__content{
    background-color: rgba(47,50,52,.93);
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: rem(540px);
    @include tablets {
        width: auto;
        left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
.section__title_team {
    line-height: 1;
    margin-bottom: rem(60px);
    @include phones {
        margin-bottom: rem(97px);
        font-size: rem(49px);
    }
}
.team__center-container {
    width: rem(380px);
    margin: 0 auto;
    -padding-top: rem(89px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @include tablets {
        width: rem(348px);
    }
    @include phones {
        -padding-top: rem(62px);
        width: rem(320px);
    }
}
.accordeon {
    color:#fff;
}
.team__title {
    text-transform: uppercase;
    font-size: rem(14px);
    line-height: rem(28px);
    font-family: 'gagalin';
    margin-bottom: rem(24px);
    position: relative;
    padding-left: rem(20px);
    cursor: pointer;
    
    &:before {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid #f9b43b;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    position: absolute;
    top: rem(11px);
    left: 0px;
        @include phones {
            left: rem(2px);
            border-width: rem(6px);
        }
    }   
    @include tablets {
        display: inline-block;
    }
    @include phones {
        padding-left: rem(24px);
        font-size: rem(24px);
        margin-bottom: rem(34px);
    }
}
.team__item_active {
    
    .team__description{
        height: auto;
        margin-bottom: rem(31px);
        @include phones {
            margin-bottom: rem(35px);
        }
    }
    .team__title {
        margin-bottom: rem(8px);
        color: #f9b43b;
        &:before {
            transform: rotate(180deg);
            top: rem(4px);
        }
        @include phones {
            margin-bottom: rem(18px);
        }
    }
}
.team__description {
    height: 0;
    overflow: hidden;
    transition: all .7s;
}
.team__img {
    width: rem(101px);
    height: rem(101px);
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-right: rem(20px);
    margin-left: rem(17px);
    
    img {
        margin-left: rem(-20px);
    }
    
    @include tablets {
        float: none;
        margin: 0 auto rem(16px);
    }
    @include phones {
        margin-bottom: rem(17px);
    }
}
.team__about {
    font-size: rem(14px);
    line-height: rem(24px);
    font-family: ubuntu;
}
.team__name {
    font-weight: 900;
    padding-bottom: rem(7px);
    font-size: rem(14px);
    @include phones {
        padding-bottom: rem(12px);
    }
}
.team__text {
    font-weight: 300;
    font-size: rem(15px);
    line-height: rem(22px);
}
