@mixin circle($width, $color) {
  width: $width;
  height: $width;
  border-radius: $width/2;
  background-color: $color;
}

@mixin background($url) {
    background: url($url) 50% 50% no-repeat;
    background-size: cover;
}

//responsive
@function rem($px) {
  @return $px / 16px+0rem;
}